appdirs==1.4.3
astroid==2.3.1
attrs==19.3.0
beautifulsoup4==4.8.2
black==19.10b0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.17
dahuffman==0.4.1
decorator==4.4.2
fake-useragent==0.1.11
fastapi==0.60.1
h11==0.9.0
huffman==0.1.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.16.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
networkx==2.4
netwulf==0.1.4
numpy==1.18.1
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
pandas==1.0.3
parse==1.15.0
pathspec==0.7.0
Pillow==7.0.0
pydantic==1.6.1
pyee==7.0.1
pygame==1.9.6
pylint==2.4.2
pyparsing==2.4.6
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
python-louvain==0.13
pytz==2020.1
regex==2020.1.8
requests==2.22.0
requests-html==0.10.0
scikit-learn==0.23.1
scipy==1.5.2
simplejson==3.17.0
six==1.14.0
sklearn==0.0
soupsieve==2.0
starlette==0.13.6
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.0
tqdm==4.43.0
typed-ast==1.4.0
urllib3==1.25.7
uvicorn==0.11.8
w3lib==1.21.0
websockets==8.1
Werkzeug==0.16.0
wrapt==1.11.2
youtube-dl==2020.3.24
